<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/reservation.css">
  <link rel="stylesheet" href="/css/menu.css">

  <title>HungArray</title>
</head>

<body>
  {{{body}}}
</body>

</html>
