<div id="container">
<div class="header">
  <h3>Served daily from 7 am – 11 pm.</h3>
</div>
<hr>
{{#each menu}}
<div id="menu">
  <p class="name">{{name}}</p>
  <p class="price"> ${{price}}</p>
  <br>
  <br>
  <p class="description">{{description}}</p>
</div>
<br>
  
{{/each}}
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




