<ul id="dropdown1" class="dropdown-content">
    <li><a class="black-text" href="/">Home</a></li>
    <li><a class="black-text" href="/menu">Menu</a></li>
    <li><a class="black-text" href="/reservation">Reservation</a></li>
    <li><a class="black-text" href="/order">Take Out</a></li>
  </ul>
  <div class="navbar-fixed">
  <nav class="black" role="navigation">
    <a href="#" data-target="nav-mobile" class="sidenav-trigger white-text"><i class="material-icons">menu</i></a>
    <div class="nav-wrapper container">
      <div class="nav-wrapper">
        <a  href="#!" class="brand-logo"><i class="fas fa-user"></i></a>
        <a href="/" class="brand-logo center">[HungARRAY]</a>
        <ul class="right hide-on-med-and-down">
          
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Nav Link<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </div>      

      <ul id="nav-mobile" class="sidenav">
          <li><a class="black-text" href="/">Home</a></li>
        <li><a class="black-text" href="/menu">Menu</a></li>
        <li><a class="black-text" href="/reservation">Reservation</a></li>
        <li><a class="black-text" href="/order">Take Out</a></li>
      </ul>
    </div>
  </nav>




<div>
    <div class="reservation-message">
        <h2>Reservations</h2>
        <p>For parties of six or more, we recommend making reservations at least two weeks in advance. For walk-ins, we only seat parties on a first come, first served basis.</p>
    </div>



    <div class="reservation-container">
        <form>
            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <label for="validationServer01">First name</label>
                    <input type="text" class="form-control is-valid area" id="firstName" value="" required>
                </div>

                <div class="col-md-6 mb-2">
                    <label for="validationServer02">Last name</label>
                    <input type="text" class="form-control is-valid area" id="lastName" value="" required>
                </div>

                <div class="col-md-12 mb-1">
                    <label for="validationServer02">Phone Number</label>
                    <input type="text" class="form-control is-valid area" id="phoneNumber" value="" required>
                </div>

                <dfirstNameiv class="col-md-12 mb-1">
                    <label for="validationServer02">email</label>
                    <input type="text" class="form-control is-valid area" id="email" value="" required>
                </dfirstNameiv>

                <dfirstNameiv class="col-md-12 mb-1">
                    <label for="validationServer02">date</label>
                    <input type="text" class="form-control is-valid area" id="date" value="" required>
                </dfirstNameiv>

                <dfirstNameiv class="col-md-12 mb-1">
                    <label for="validationServer02">Number of Guests</label>
                    <input type="text" class="form-control is-valid area" id="numberOfGuests" value="" required>
                </dfirstNameiv> 

                <div class="col-md-12 mb-1">
                    <label for="validationServer02">Comment</label>
                    <input type="text" class="form-control is-valid area" id="comment" value="">
                </div>

            </div>
            <br>
            <button id="submit" class="btn btn-primary float-left submitButton">Submit</button>
        </form>

    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/reservation.js"></script>