#container{
    padding-top: 3%;
}
#menu{
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 4%;
    margin-left: 20%;
}
.header{
    text-align: center;
    margin-right: 80px;
}
.name{
    float: left;
    width:20%;
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
}
.price{
    float: left;
    width:15%;
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
}
.description{
    width:50%;
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
}
